/*------------------------------------*\
  #Global
\*------------------------------------*/

html, body {
    overflow-x: hidden; /*Disable horizontal scroll bars*/
    height: 100%;
    width: 100%;
}

body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0; /*No borders on mobile*/
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

li {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-weight: 100;
}


/*------------------------------------*\
  #Header

  Attempting to use: https://www.smashingmagazine.com/2014/07/bem-methodology-for-small-projects/
\*------------------------------------*/


/*------------------------------------*\
  #Hero section
\*------------------------------------*/


/*------------------------------------*\
  #Event section
\*------------------------------------*/



/*------------------------------------*\
  #Blog link section
\*------------------------------------*/



/*------------------------------------*\
  #Social media section
\*------------------------------------*/


/*------------------------------------*\
  #Footer
\*------------------------------------*/
